<div class="row">
    <div class="col-md-12 p5">
        <div class="btn">
            <a href="posts/add" class="btn btn-large btn-primary"><i class="fas fa-plus"></i> Add posts</a>
        </div>
    </div>
</div>
