<nav class="navbar navbar-light bg-light fixed-top">
  <span class="navbar-text">
     <a href="/">Posts Website</a>
  </span>
    <a href="/login">Login <span class="sr-only">(current)</span></a>
    <a href="/auth/logout">Logout</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/posts">Posts</a>
</nav>