<div class="col-md-12">
    <h1><a href="/">Home</a></h1>
    <hr>
    <p>This is posts website</p>
    <p>You need to login with Google to access posts and to be able to add one. </p>
    <p><img src="/images/login.png" alt="login page screenshot" /></p>
    <hr>
    <p>Dashboard: Once you've logged in you are able to see all your posts. You can edit/delete you own posts or you can add a new one in the <a href="/dashboard">/dashboard</a></a></p>
    <p><img src="/images/dashboard.png" alt="login page screenshot" /></p>
    <hr>
    <p>
        Posts: once you've logged in and navigate to <a href="/posts">/Posts</a> you will be able to see your posts and posts of other users who have created posts
    </p>
    <p><img src="/images/posts.png" alt="login page screenshot" /></p>
    <hr>
    <p>
        You checkout specific user posts
    </p>
    <p><img src="/images/user.png" alt="login page screenshot" /></p>

<hr>
    <p>
        You can logout and will take you back to the log in screen
    </p>

</div>
