<div class="col-md-12">
    <h1>Log in</h1>
    <p class="lead">Please log in to access pages</p>  
</div>



<div class="col-md-12">
    <a href="/auth/google" class="btn">
        <i class="fas fa-user"></i> Log In With Google
    </a>
</div>
