<h1>Login</h1>
<h3><i class="fas fa-book-reader"></i> StoryBooks</h3>

<div class="row">
    <div class="col-md-12">
        <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
    </div>
</div>